<link rel="stylesheet" href={{asset("css/flash.css")}}>
<div class="flashes">
    {% for label, messages in app.flashes(['success', 'warning', 'error']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
</div>