{% block stylesheets %}
    <link rel="stylesheet" href={{asset('css/header.css')}}>
{% endblock %}


<header id="header">
    <div class="page-title">
        <h2>{{ pageTitle }}</h2>
        <p>{{ pageDesc }}</p>
    </div>
    <div class="user-actions">
        <a href="">
            <i class="fa-solid fa-gear"></i>
        </a>
        <a href="">
            <i class="fa-solid fa-right-from-bracket"></i>
        </a>
        {# <img class="avatar" src="https://api.dicebear.com/9.x/initials/svg?seed=Louis&size=64&backgroundColor=353535&fontFamily=Tahoma&fontSize=40" alt="user avatar"> #}
    </div>
</header>