{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href={{asset('css/sessions.css')}}>
{% endblock %}

{% block javascripts %}

{% endblock %}

{% block title %} Sessions Panel {% endblock %}
{% block pageTitle %} Sessions Panel {% endblock %}
{% block pageDesc %} This is the page where you add, create, delete and list the sessions  {% endblock %}

{% block body %}
    <div class="sessions-grid">
        <div class="session-card">
            <div class="header">
                {{include('components/status-bubble.html.twig', {status: {label: "planned", class: "neutral"}})}}
                <i class="fa-solid fa-ellipsis-vertical actions"></i>
            </div>
            <h3>Les fondamentaux du développement web</h3>
            <hr>
            <div class="infos">
                <div class="left">  
                    <div class="item">
                        <i class="fa-solid fa-hourglass-end"></i>
                        <span>37</span>
                    </div>
                    <div class="item">
                        <i class="fa-solid fa-calendar-days"></i>
                        <span>21-04-2025</span>
                    </div>
                </div>
                <div class="right">
                    <div class="item">
                        <i class="fa-solid fa-user"></i>
                        <span>14</span>
                    </div>
                    <div class="item">
                        <i class="fa-solid fa-database"></i>
                        <span>7</span>
                    </div>
                </div>
            </div>   
        </div>
    </div>
{% endblock %}
