.status {
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 0.9em;
    white-space: nowrap;

    &.neutral {
        background: #235875;
        color: #5bb5ee;
    }

    &.danger {
        background: #3f2328;
        color: #ff6b6b;
    }

    &.active {
        background: #5b6123;
        color: #beb74b;
    }
    
}