.flashes{
    --alert-success: #24b448;
    --alert-warning: #c58229;
    --alert-error: #c73d3d;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 99;
    bottom: 20px;
    left: 20px;
    gap: 15px;
    color: white;

    &:has(.alert){
        margin-bottom: 15px;
    }

    & > .alert {
        opacity: 0;
        padding: 20px 45px;
        border-radius: 10px;
        font-weight: 500;
        width: max-content;
        animation: 
            slideIn 0.7s ease-in-out 0.25s 1 forwards,
            disappear 0.7s ease-in-out 7.5s 1 forwards;
        overflow: hidden;
        position: relative;

    }

    & > .alert::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 4px;
        background-color: white;
        transform-origin: left;
        animation: timeOut 7s linear 0.25s 1 forwards;
    }

    & > .alert-success {
        background-color: var(--alert-success);
    }

    & > .alert-warning {
        background-color: var(--alert-warning);
    }

    & > .alert-error {
        background-color: var(--alert-error);
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-50%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes timeOut {
    0% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0);
    }
}

@keyframes disappear {
    0% {
        transform: translateX(0%);
        opacity: 1;
        display: block;
    }
    99% {
        transform: translateX(-50%);
        opacity: 0;
        display: block;
    }
    100% {
        transform: translateX(-50%);
        opacity: 0;
        display: none;
    }
}