.sessions-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(350px, 100%), 1fr));
    gap: 25px;
}

.session-card {
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    background-color: var(--secondary-bg-clr);
    padding: 20px;
    border-radius: 25px;
    gap: 20px;
    position: relative;

    & > .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    & > h3{
        font-size: 1.1rem;
    }

    & > .header .actions{
        font-size: 1.25em;
        cursor: pointer;
        transition: color 250ms;

        &:hover{
            color: rgb(175, 175, 175);
        }
    }

    & > hr {
        border: none;
        background-color: var(--border-clr);
        height: 1px;
        margin-bottom: 10px;
    }

    & > .infos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.85rem;
        color: var(--text-description-clr);
        font-weight: 500;

        & > .left, & > .right {
            display: flex;
            gap: 20px;
        }

        .item{
            display: flex;
            align-items: center;
            gap: 7px;
        }
    }
}


/* Gestion du menu contextuel */

.dropdown {
    position: relative;

    .dropdown-toggle {
        background: none;
        border: none;
        cursor: pointer;
    }

    .dropdown-menu {
        position: absolute;
        right: 0;
        top: 100%;
        background-color: var(--tertiary-bg-clr);
        border: 2px solid var(--border-clr);
        border-radius: 5px;
        display: none;
        z-index: 1000;
        overflow: hidden;

        &.show{
            display: block;
        }

        .dropdown-item {
            display: flex;
            gap: 10px;
            cursor: pointer;
            padding: 0.65rem 1rem;
            color: var(--text-clr);
            text-decoration: none;

            &.edit:hover{
                color: rgba(170, 228, 35, 0.862);
                background-color: rgb(29, 29, 29);
            }

            &.delete:hover{
                color: rgb(237, 94, 23);
                background-color: rgb(29, 29, 29);
            }
        }
    }
}



