/* Interns tab */
.interns-container {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
    overflow-y: auto;
    
    @media screen and (width < 1500px) {
        flex-direction: column;
    }

    .column {
        flex: 1;
        border-radius: 0.5rem;
        padding: 1rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    h3 {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        color: #333;
        border-bottom: 2px solid var(--border-clr);
        padding-bottom: 0.5rem;
    }
}

.intern-list {
    list-style-type: none;
    padding: 0;

    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 0;
        border-bottom: 1px solid #e9ecef;

        &:last-child {
            border-bottom: none;
        }
    }

    span {
        flex-grow: 1;
    }

    a {
        text-decoration: none;
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
        transition: background-color 0.2s;

        &.enroll-intern {
            color: #28a745;
        }

        &.unenroll-intern {
            color: #dc3545;
        }
    }
}

/* Modules tab */
/* Modules tab */
.modules-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    & > .section {
        display: flex;
        gap: 5px;
    }

    & > .module-list {
        margin-bottom: 1rem;
    }
}

.module-row {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid #e9ecef;

    .form-action {
        padding: 10px 15px;
        border-radius: 5px;
        font-size: 1rem;

        &:first-of-type{
            margin-right: 20px;
        }

        &.btn-remove {
            background-color: rgb(173, 65, 65);
        }

        &.btn-update {
            background-color: rgb(208, 168, 46);  
        }
     }

    &:last-child {
        border-bottom: none;
    }
}

.module-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.module-name {
    flex-grow: 1;
}

.module-days {
    display: flex;
    align-items: center;
    margin-right: 9rem;
}

.days-input {
    width: 60px;
    margin-right: 0.5rem;
}


.add-module-form {
    display: flex;
    gap: 15px;
    margin-top: 1rem;

    & > form {
        display: flex;
        align-items: end;
        gap: 10px;
    }

    .form-group {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 25px;
    }

    .form-row{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    select,
    input{
        flex-grow: 1;
    }

    button {
        flex-shrink: 0;
        background-color: rgb(40, 151, 77);
        padding: 10px 15px;
        border-radius: 5px;
        font-size: 1rem;
        transition: background-color 0.3s;

        & > i {
            padding-right: 5px;
        }

        &:hover{
            background-color: rgb(50, 181, 94);
        }
    }
}