@layer reset {

    :is(*, *::before, *::after) {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    img{
        max-width: 100%;
        display: block;
    }

    ul, ol{
        list-style: none;
    }

    a{
        color: inherit;
        text-decoration: none;
    }

    button{
        border: none;
        cursor: pointer;
        background: inherit;
        color: inherit;
    }

    @media (prefers-reduced-motion: reduce) {
        * {
            view-transition-name: unset !important;
        }
    }

}

:root{
    --bg-clr: #070E0E;
    --secondary-bg-clr: #1A1E1F;
    --tertiary-bg-clr: #131313;
    --button-bg-clr: #484848;
    --button-hover-bg-clr: #606060;
    --text-clr: #fff;
    --text-secondary-clr: #D9D9D9;
    --text-description-clr: #A4A4A4;
    --text-discrete-clr: #8b8b8b;
    --accent-clr: #31EDE4;
    --border-clr: #484848;
    --danger-clr: #823637;
    --neutral-clr: #368082;
    --neutral-hover-clr: #429A9C;

    --alert-success: #24b448;
    --alert-warning: #c58229;
    --alert-error: #c73d3d;

    --header-height: 175px;
}


/* General styles */

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    display: grid;
    grid-template-areas: 
        "sidebar header header"
        "sidebar main main"
        "sidebar main main";
    grid-template-rows: var(--header-height) 1fr 1fr;
    grid-template-columns: 300px 1fr 1fr;
    color: var(--text-clr);
}

#header{
    grid-area: header;
    background-color: var(--bg-clr);
}

#sidebar{
    grid-area: sidebar;
    background-color: var(--secondary-bg-clr);
}

#content{
    grid-area: main;
    background-color: var(--bg-clr);
    padding: 50px;
    height: 100%;
    position: relative;
    overflow-y: auto;
}

#content::-webkit-scrollbar {
    background: transparent;
    width: 5px;
}
  
#content::-webkit-scrollbar-thumb {
    background: #484848;
    border-radius: 5px;
}

/* Flash messages */
.flashes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    &:has(.alert){
        margin-bottom: 15px;
    }

    & > .alert {
        padding: 15px 45px;
        border-radius: 10px;
        font-weight: 500;
        width: max-content;
    }

    & > .alert-success {
        background-color: var(--alert-success);
    }

    & > .alert-warning {
        background-color: var(--alert-warning);
    }

    & > .alert-error {
        background-color: var(--alert-error);
    }
}