.user-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    table-layout: fixed;

    thead{
        background: var(--secondary-bg-clr);
    }

    th {
        padding: 15px;
        text-align: left;
        font-weight: 500;
        color: var(--text-discrete-clr);

        &[data-table-name]{
            width: 300px;
        }
        
        &[data-table-actions]{
            width: 120px;
        }


        &[data-table-id],
        &[data-table-sessions],
        &[data-table-age],
        &[data-table-genre] {
            width: 100px;
        }
    }

    td {
        padding: 16px;
        border-bottom: 1px solid #2a2e32;
    }

    tr {
        cursor: pointer;
    }
}

.status {
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 0.9em;

    &.waiting {
        background: #235875;
        color: #5bb5ee;
    }

    &.inactive {
        background: #3f2328;
        color: #ff6b6b;
    }

    &.in-session {
        background: #2d3a1d;
        color: #98c379;
    }
    
}

.actions {
    position: relative;
    text-align: right;

    & > a {
        transition: color 250ms;
    }

    & > a.edit{
        color: white;

        &:hover{
            color: gray;
        }
    }

    & > a.delete{
        color: rgb(235, 68, 68);
        margin-left: 15px;

        &:hover{
            color: rgb(179, 52, 52);
        }
    }

}

.interns-table tbody tr:hover {
    background: #1e2227;
}